.div-lobby {
  margin: 0 auto;
  width: 60%;
  height: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}

.lobby-title {
  width: 100%;
}

.lobby-title h3 {
  color: white;
}

.lobby--container {
  border-radius: 20px;
  background-color: #262939;
  padding: 10px 15px;
  margin: 10px;
  /* cursor: pointer; */
  color: white;
}

.div-lobby--row {
  display: flex;
  flex-direction: row;
  height: 65%;
  justify-content: space-between;
  color: white;
  width: 100%;
}

.div-lobby--row .lobby-users-options {
  width: 75%;
  overflow: auto;
}

.div-lobby--row .lobby-users-options>div {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-items: flex-start;
  align-content: flex-start;
  flex-grow: 1;
  ;
}

.div-lobby--row .lobby-users-options>div>div {
  margin: 0 40px 30px 40px;
}

.lobby-users-options-list h6 {
  margin-bottom: 20px;
  font-size: 15px;
  color: white;
}

.lobby-users-options-desc {
  margin-top: -18px;
  margin-bottom: 20px;
  width: 150px;
  height: 50px;
  font-size: small;
  color: white;
  margin-bottom: 0;
}

.div-lobby--row .lobby-users-list {
  width: 40%;
}

.lobby-start-game {
  width: 100%;
  height: 50px;
  text-align: center;
  background: none;
  color: white;
  border-radius: 25px;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  border: 2px solid #5D6165;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  cursor: pointer;
}

.lobby-start-game:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.lobby-start-game:hover {
  border: none;
  background: transparent linear-gradient(0deg, #146be2 0%, #146be2 100%) 0% 0% no-repeat padding-box;
}

.lobby-users-options h3, .lobby-users-list h3 {
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.lobby-users-options h5, .lobby-users-list h5 {
  margin-top: -12px;
  margin-bottom: 20px;
  font-size: 15px;
  color: white;
}

.lobby-users--infos-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.lobby-users--name img {
  margin-right: 10px;
}

.lobby-users--name {
  color: white;
}

.lobby-users-options-list .btn-success {
  background-color: #5D6165;
  border: none;
}

.lobby-users-options-list .btn-primary {
  background: transparent linear-gradient(0deg, #146be2 0%, #146be2 100%) 0% 0% no-repeat padding-box;
  border: none;
}

.lobby-users-options-list input[type=range].range-slider {
  /* range-slider--primary */
  color: red;
}

.lobby-users-options-list .btn-primary:hover, .lobby-users-options-list .btn-primary:active {
  background-color: #146be2;
}

.lobby-users-options-list .btn-success:hover, .lobby-users-options-list .btn-success:active {
  background-color: #5D6165;
}

@media (max-width: 768px) {
  .div-lobby {
    width: 95%;
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: flex-start;
  }
  .div-lobby--row {
    flex-direction: column;
    width: 100%;
  }
  .lobby-title, .lobby-start-game, .div-lobby--row .lobby-users-options, .div-lobby--row .lobby-users-list {
    width: 95%;
  }
  .lobby-users-options-list {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .lobby-users-options-list>div {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .lobby-users-options-list>div>div {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 640px) {
  .lobby-users-options-list {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .lobby-users-options-list>div {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .lobby-users-options-list>div>div {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .div-lobby {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: flex-start;
    margin: 0;
  }
  .div-lobby--row {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .lobby-title, .lobby-start-game, .div-lobby--row .lobby-users-options, .div-lobby--row .lobby-users-list {
    width: 95%;
    margin: 10px auto;
  }
}