.modal-50w {
  max-width: 575px !important;
  width: 575px !important;
}

@media (max-width: 590px) {
  .modal-50w {
    margin: 0;
    max-width: 100% !important;
    width: 100% !important;
  }
  .login--social-container {
    display: flex;
    flex-direction: column;
  }
}

.modal.fade .modal-dialog.modal-dialog-zoom {
  -webkit-transform: translate(0, 0)scale(.5);
  transform: translate(0, 0)scale(.5);
}

.modal.show .modal-dialog.modal-dialog-zoom {
  -webkit-transform: translate(0, 0)scale(1);
  transform: translate(0, 0)scale(1);
}

.login--header {
  border: none !important;
  padding: 0px;
  margin: 5px 10px;
}

.login--body {
  padding: 0px 50px 80px 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login--body h5 {
  border: 3px solid black;
  font-weight: bold;
  padding: 12px;
  margin: 0 0 50px 0;
}

.login--body h6 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 0px;
}

.login--social-container {
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  justify-content: space-evenly;
}

.login--social-container>div {
  text-align: center;
  padding: 10px;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.login--social-container button {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-right: 20px;
}

.login--social-container img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.fa-linkedin-in {
  color: white;
  font-size: 20px;
  vertical-align: -20%;
  margin-right: 8px;
}

#login--google-div, #login--linkedin-div {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

#login--google-div:active, #login--linkedin-div:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

#login--google-div span {
  font-size: 15px;
}

#login--linkedin-div {
  background-color: #007CBB;
}

#login--linkedin-div span {
  color: white;
}

.login--social-container span {
  color: #808080;
  vertical-align: middle;
}

.login--social-container {
  display: flex;
  flex-direction: row;
}

.login--form input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-left: 20px;
  border: none;
  height: 48px;
}

.login--form {
  width: 100%;
}

#password-field {
  margin-bottom: 10px;
  border-radius: 25px;
}

div.input-group {
  border-color: 1px solid black;
  border-radius: 25px;
}

#login--password-field {
  margin-bottom: 10px;
  border-radius: 25px;
}

#email-field {
  margin-bottom: 20px;
}

.login--submit {
  border: none;
  align-items: center;
  border-radius: 25px;
  background: transparent linear-gradient(0deg, #0B2BB1 0%, #1206A0 100%) 0% 0% no-repeat padding-box;
  color: white;
  font-weight: bold;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 15px;
  padding: 5px 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.login--submit:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.login--submit:hover {
  background: #146be2;
}

.login--submit:focus {
  outline: 0;
}

.login--create {
  text-align: center;
}

.login--create button, .signup--create button {
  padding: 5px 30px;
  background-color: white;
  color: #1A0095;
  border: 1px solid #1A0095;
  border-radius: 25px;
  font-weight: bold;
  font-size: 15px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.login--create button:active, .signup--create button:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.login--create button:focus {
  outline: 0;
}

.login--create button:hover {
  background: transparent linear-gradient(0deg, #0B2BB1 0%, #1206A0 100%) 0% 0% no-repeat padding-box;
  color: white;
}

.login--create p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

#login--forgot {
  width: 100%;
  text-align: right;
  color: #808080;
  font-size: small;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 0;
}

#login--forgot:hover {
  text-decoration: underline;
}

#googlelogin {
  padding: 0;
  border-radius: 10px !important;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1) !important;
  border: none !important;
  border: 1px solid white !important;
  margin-right: 15px;
}

#googlelogin button {
  padding: 0 !important;
  margin-bottom: 0;
  margin-right: 0;
  border: none !important;
  border-radius: 10px !important;
}

#googlelogin div {
  margin-bottom: 0;
  border-radius: 20px;
  background: transparent !important;
  box-shadow: none;
}

p.login--error {
  color: #D13E82;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-top: 3px;
}

.input-group {
  border-radius: 8px;
}

.login--body span.input-group-append.bg-white.border-left-0 {
  border-radius: 0 10px 10px 0;
}

.signup--body span.input-group-append.bg-white.border-left-0 {
  border-radius: 0 10px 10px 0;
}

::-webkit-input-placeholder, .input-group .form-control::-webkit-input-placeholder {
  color: #808080;
  font-size: 15px;
}

::-moz-placeholder, .form-control::-moz-placeholder {
  color: #808080;
  font-size: 15px;
}

:-ms-input-placeholder, .form-control:-ms-input-placeholder {
  color: #808080;
  font-size: 15px;
}

::placeholder, .form-control::placeholder {
  color: #808080;
  font-size: 15px;
}

.login--body span.input-group-text.bg-transparent, .signup--body span.input-group-text.bg-transparent {
  border: 1px solid white;
  border: none;
}

/* Bootstrap css */

.input-group-text {
  border: 1px solid white;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  padding-left: 30px;
}

/* Bootstrap css */

.input-group-text i {
  padding-right: 10px;
  color: #808080;
  cursor: pointer;
  width: 30px;
  height: 16px;
}

/* Bootstrap css */

.icon {
  padding: 10px;
  min-width: 40px;
}

.signup--header {
  border: none !important;
  padding: 0px;
  margin: 5px 10px;
}

.signup--body {
  padding: 0px 50px 40px 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.signup--body h5 {
  border: 3px solid black;
  font-weight: bold;
  padding: 12px;
  margin: 0 0 50px 0;
}

.signup--body h6 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 0px;
}

p.signup--condition {
  margin-bottom: 45px;
}

.signup--condition, .signup--connected {
  text-align: center;
  font-size: small;
}

.signup--condition span, .signup--connected span {
  color: #1A0095;
  cursor: pointer;
}

.signup--condition span:hover, .signup--connected span:hover {
  text-decoration: underline;
}

.signup--form {
  margin-bottom: 20px;
  width: 100%;
}

.signup--form input {
  border-radius: 10px;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  outline: 0;
  width: 100%;
  padding-left: 20px;
  height: 48px;
  border: 1px solid white;
  border: none;
}

input.form-control.border-right-0 {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  outline: none !important;
}

.signup--condition {
  margin-bottom: 30px;
}

.signup--password-test {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.signup--password-test li {
  margin-right: 30px;
  list-style: none;
  color: #808080;
  font-size: 12px;
}

.signup--create button {
  padding: 5px 25px;
  background-color: white;
  color: #1A0095;
  border: 1px solid #1A0095;
  border-radius: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.signup--create button:focus {
  outline: 0;
}

.login--body .reset--text {
  font-size: small;
  color: grey;
  margin-bottom: 25px;
}

.signup--create button:hover {
  background: transparent linear-gradient(0deg, #0B2BB1 0%, #1206A0 100%) 0% 0% no-repeat padding-box;
  color: white;
}

/* reset modal */

.reset--header {
  border: none !important;
  padding: 0px;
  margin: 5px 10px;
}

.reset--body {
  padding: 0px 50px 100px 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.reset--body h5 {
  border: 3px solid black;
  font-weight: bold;
  padding: 10px;
  margin: 0 0 50px 0;
}

.reset--body h6 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.reset--form input {
  width: 100%;
  border-radius: 10px;
  border: none !important;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-left: 20px;
  outline: 0;
  height: 48px;
}

input:focus, button:focus {
  outline: none;
}

.reset--form {
  width: 100%;
}

#reset--password-field {
  margin-bottom: 20px;
}

#reset--password-check-field {
  margin-bottom: 30px;
}

.reset--submit {
  align-items: center;
  border-radius: 25px;
  background: transparent linear-gradient(0deg, #0B2BB1 0%, #1206A0 100%) 0% 0% no-repeat padding-box;
  color: white;
  font-weight: bold;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 15px;
  padding: 5px 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.reset--submit:focus {
  outline: 0;
}

p.reset--error {
  color: #D13E82;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  margin-top: 3px
}

.reset--text span {
  color: #1A0095;
  cursor: pointer;
}

.reset--text span:hover {
  text-decoration: underline;
}