.proposal--page {
  background-color: rgb(240, 240, 240);
  position: flex;
  flex-direction: column;
}

.proposal--title {
  margin: 30px;
  padding: 50px;
}

.proposal--container {
  position: flex;
  flex-direction: row;
}