#react-tags--container-profile div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */

#react-tags--container-profile div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
}

input.profile--tags-title, input.profile--tags-sskills, input.profile--tags-tools, input.profile--tags-industry {
  border-radius: 20px;
  border: 2px solid #0B2BB1;
  padding: 0 20px 0 10px;
  max-width: 150px;
  height: 34px;
}

#react-tags--container-profile div.ReactTags__tagInput input.ReactTags__tagInputField, #react-tags--container-profile div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
  padding: 0 4px;
}

#react-tags--container-profile div.profile--selected-industry, #react-tags--container-profile div.profile--selected-tools, div.profile--selected-sskills, #react-tags--container-profile div.profile--selected-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

/* Styles for selected tags */

#react-tags--container-profile div.profile--selected-industry span.ReactTags__tag, #react-tags--container-profile div.profile--selected-sskills span.ReactTags__tag, #react-tags--container-profile div.profile--selected-tools span.ReactTags__tag, #react-tags--container-profile div.profile--selected-title span.ReactTags__tag {
  background: transparent linear-gradient(0deg, #0B2BB1 0%, #1206A0 100%) 0% 0% no-repeat padding-box;
  color: white;
  margin: 5px 5px 5px 0px;
  padding: 5px 10px;
  cursor: move;
  border-radius: 20px;
  opacity: 0.999 !important;
}

#react-tags--container-profile div.profile--selected-industry a.ReactTags__remove, #react-tags--container-profile div.profile--selected-tools a.ReactTags__remove, div.profile--selected-title a.ReactTags__remove, #react-tags--container-profile div.profile--selected-sskills a.ReactTags__remove {
  color: white;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.5s ease-in;
  transition: 0.1s ease-out;
}

#react-tags--container-profile div.profile--selected-industry a.ReactTags__remove:hover, #react-tags--container-profile div.profile--selected-title a.ReactTags__remove:hover, #react-tags--container-profile div.profile--selected-tools a.ReactTags__remove:hover, #react-tags--container-profile div.profile--selected-sskills a.ReactTags__remove:hover {
  font-weight: bold;
}

/* Styles for suggestions */

div.ReactTags__suggestions {
  position: absolute;
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0, 0, 0, .2);
  background: white;
  width: 200px;
}

div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

#react-tags--container-profile .add-new-tags {
  color: #1206A0;
  font: bold 1.4em/1.55 Arial !important;
  border: 0;
  background: none;
  box-shadow: 0 0 0 2px inset currentColor;
  border-radius: 50%;
  width: 1.65em;
  height: 1.65em;
  cursor: pointer;
  outline: none;
  transition: .1s ease-out;
  margin: 0 0 0 5px;
  padding: 2px 0 0 0;
  vertical-align: bottom;
}

#react-tags--container-profile .add-new-tags:hover {
  background: transparent linear-gradient(0deg, #0B2BB1 0%, #1206A0 100%) 0% 0% no-repeat padding-box;
  color: white;
  box-shadow: 0 0 0 0 inset currentColor;
}

#react-tags--container-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* @-webkit-keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.buzz-out-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz-out-on-hover:hover, .buzz-out-on-hover:focus, .buzz-out-on-hover:active {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
} */

div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */

div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}



div.ReactTags__tagInput input.ReactTags__tagInputField, div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 15px;
  border: none;
  width: 100%;
  padding: 0 4px;
  background-color: white;
}

/* Styles for selected tags */

div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 15px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}

div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */

div.ReactTags__suggestions {
  position: absolute;
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0, 0, 0, .2);
  background: white;
  width: 200px;
}

div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

#react-tags--container-search {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  justify-content: space-between;
  cursor: text;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

#react-tags--container-search>div {
  cursor: pointer;
  font-size: 20px;
}

#react-tags--container-search>div .fa-times {
  margin-right: 15px;
}