input[type="text"] {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.modal-60w {
  max-width: 790px !important;
  width: 790px !important;
}

@media (max-width: 790px) {
  .modal-60w {
    margin: 0;
    max-width: 100% !important;
    width: 100% !important;
  }
  .login--social-container {
    display: flex;
    flex-direction: column;
  }
}

/* navbar for user profile */

.navbar-user {
  background-color: black;
  padding: 18px 5% 3px 5%;
}

.navbar-user .navbar-user--link span {
  color: white;
  font-size: 15px;
}

.navbar-user .navbar-user--link div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-user .navbar-user--link div>i {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

.navbar-user .navbar-user--link div>img {
  color: white;
  width: 70px;
  height: 20px;
  margin-bottom: 5px;
}

.navbar-user .navbar-user--link:hover {
  cursor: pointer;
}

.navbar-user .navbar-user--right-link .navbar-user--link {
  margin-left: 30px;
}

.navbar-user #navbar-user--online-link {
  position: absolute;
  margin-bottom: 0;
  padding-bottom: 0;
  bottom: 10px;
}

.navbar-user #navbar-user--online-link div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-user #navbar-user--online-link .fa-toggle-on, .fa-toggle-off {
  margin-right: 10px;
  margin-top: 5px;
}

/* profile user */

.profile-user {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #E3E3E35A;
  padding: 50px 5% 50px 5%;
}

/* profile user sidebar */

.profile-user #profile-user--sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.profile-user #profile-user--sidebar>span:first-child {
  min-height: 70px;
  background-color: white;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 30px 30px;
  margin-bottom: 20px;
  text-align: center;
}

.profile-user #profile-user--sidebar .profile-user--sidebar-sponso img {
  width: 100%;
  margin-bottom: 20px;
}

.profile-user #profile-user--sidebar .profile-user--title {
  margin-bottom: 30px;
}

.profile-user #profile-user--sidebar .profile-user--progression img {
  width: 40%;
  height: 100%;
  margin-right: 10px;
}

.profile-user #profile-user--sidebar .profile-user--progression-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  width: 100%;
}

.profile-user #profile-user--sidebar .profile-user--progression-list div {
  text-align: right;
  width: 100%;
}

.profile-user #profile-user--sidebar .profile-user--progression-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.profile-user #profile-user--sidebar .profile-user--progression-item div {
  margin-right: 10px;
}

.profile-user #profile-user--sidebar .profile-user--progression-item img {
  width: 20px;
  margin-right: 0;
  height: 20px;
}

/* main content of user profile */

.profile-user #profile-user--main {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 0 20px 20px;
}

/* head content of user profile */

.profile-user #profile-user--main #profile-user--pp {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.profile-user #profile-user--main #profile-user--pp #profile-user--informations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 5px 20px 5px;
  width: 100%;
}

.profile-user #profile-user--main #profile-user--pp #profile-user--informations-container p {
  margin-bottom: 3px;
}

.profile-user #profile-user--main #profile-user--pp #profile-user--informations-container div:first-child {
  margin-bottom: 20px;
}

.profile-user #profile-user--main #profile-user--pp #profile-user--informations h3 {
  font-size: 20px;
  font-weight: normal;
}

.profile-user #profile-user--main #profile-user--pp .profile-user--image img {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.profile-user #profile-user--main #profile-user--pp .profile-user--image img:hover {
  transform: translateY(-1px);
  box-shadow: 2px 2px 10px rgba(0.2, 0.2, 0.2, 0.1);
}

.profile-user #profile-user--main #profile-user--pp .profile-user--title {
  font-size: 30px;
  margin-bottom: 4px;
}

.profile-user #profile-user--main #profile-user--pp .profile-user--image {
  position: relative;
  font-size: 15px;
  margin: 20px;
}

.profile-user #profile-user--main #profile-user--pp .profile-user--image-top {
  position: absolute;
  top: -10px;
  left: 10px;
  padding: 2px 15px;
  background-color: #4FF074;
  border-radius: 20px;
}

.profile-user #profile-user--main #profile-user--pp .profile-user--image-top-middle {
  position: absolute;
  top: -10px;
  left: 140px;
  border-radius: 20px;
}

.profile-user #profile-user--main #profile-user--pp .profile-user--image-top-middle img {
  width: 20px !important;
  height: 20px !important;
}

.profile-user #profile-user--main #profile-user--pp .profile-user--image-right {
  position: absolute;
  top: 3px;
  right: 10px;
  border-radius: 20px;
  cursor: pointer;
  width: 35px;
  height: 20px;
}

.profile-user #profile-user--main #profile-user--pp .profile-user--image-right img {
  width: 35px;
  height: 20px;
}

.profile-user #profile-user--main #profile-user--pp .profile-user--image-top span {
  color: white;
  font-weight: bold;
}

.profile-user #profile-user--main #profile-user--pp .profile-user--image-bottom {
  position: absolute;
  bottom: -10px;
  right: 10px;
  padding: 2px 15px;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: black;
  border-radius: 20px;
}

.profile-user #profile-user--main #profile-user--pp .profile-user--image #profile-user--image-bottom-fav, .profile-user #profile-user--main #profile-user--pp .profile-user--image #profile-user--image-bottom-fav .fa-star {
  color: #0B2BB1;
}

#profile-user--pskills, #profile-user--scorecard, #profile-user--sskills, #profile-user--exp, #profile-user--formations, #profile-user--others {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
}

#profile-user--pskills>span {
  min-height: 70px;
  width: 100%;
  background-color: white;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
}

#profile-user--pskills .profile-user--pskills-suggestions {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

#profile-user--pskills .profile-user--pskills-suggestions>div:first-child {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 15px;
  color: #808080;
}

#profile-user--pskills .profile-user--pskills-suggestions>.profile-user--pskills-suggestions-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

#profile-user--pskills .profile-user--pskills-suggestions>.profile-user--pskills-suggestions-tags div {
  background-color: white;
  border: 1.25px solid #808080;
  color: #808080;
  border-radius: 25px;
  margin-right: 5px;
  margin: 0 5px 5px 0;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#profile-user--pskills .profile-user--pskills-suggestions>.profile-user--pskills-suggestions-tags div:hover {
  background-color: #eaeaea;
}

#profile-user--scorecard div, #profile-user--sskills div, #profile-user--others div {
  display: flex;
  flex-direction: row;
  position: relative;
}

#profile-user--others div .fa-angle-right {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
}

#profile-user--others .profile-user--group-row>#profile-user--others-reco {
  position: relative;
  min-height: 240px;
}

#profile-user--others #profile-user--others-reco .fa-angle-left {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 40px;
  cursor: pointer;
}

#profile-user--exp>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#profile-user--exp button {
  background: transparent linear-gradient(0deg, #0B2BB1 0%, #1206A0 100%) 0% 0% no-repeat padding-box;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

#profile-user--exp button:hover {
  background: #146be2;
}

#profile-user--exp button:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

#profile-user--scorecard .profile-user--group-row>span {
  min-height: 70px;
  width: 33%;
  /* 100 / 3 */
  background-color: white;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

#profile-user--others>span {
  min-height: 70px;
  width: 49.7%;
  background-color: white;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

.profile-user--group-row>span {
  min-height: 70px;
  width: 49.7%;
  background-color: white;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.profile-user--group-col .profile-user--exp-content {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-bottom: 30px;
}

.profile-user--group-col .profile-user--exp-content div {
  margin: 0;
  padding: 0;
}

#profile-user--exp .profile-user--group-col>span {
  position: relative;
}

#profile-user--exp .profile-user--group-col i {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.profile-user--group-col .profile-user--exp-content #exp-circle {
  background: #808080;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin-top: 7px;
  margin-bottom: 11px;
  margin-right: 25px;
}

.profile-user--group-col .profile-user--exp-content #exp-empty-promotion {
  margin-right: 40px;
}

.profile-user--group-col .profile-user--exp-content #exp-line {
  border-left: 1px solid #808080;
  margin-left: 3px;
  height: 100%;
}

.profile-user--group-col .profile-user--exp-content>div {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.profile-user--group-col .profile-user--exp-content:last-child {
  margin-bottom: 10px;
}

#profile-user--exp .profile-user--tag {
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 30px;
  right: 10px;
}

#profile-user--exp .profile-user--tag>div {
  margin-right: 0px;
}

#profile-user--exp .profile-user--tag>div:last-child {
  margin-right: 20px;
}

#profile-user--exp .profile-user--group-col>span {
  min-height: 70px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: relative;
}

#profile-user--exp span:last-child {
  margin-bottom: 0;
}

#profile-user--formations-group {
  min-height: 70px;
  background-color: white;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

#profile-user--formations-group div {
  padding: 10px;
}

#profile-user--formations-group div>.profile-user--formations-date {
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px;
}

.profile-user--tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.profile-user--tag>div {
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px 10px 10px 5px;
  background: transparent linear-gradient(0deg, #0B2BB1 0%, #1206A0 100%) 0% 0% no-repeat padding-box;
  color: white;
}

#profile-user--scorecard .fa-address-book, #profile-user--scorecard .fa-language, #profile-user--scorecard .fa-briefcase {
  font-size: 30px;
  margin-bottom: 10px;
}

#profile-user--scorecard .fa-img-aa {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.profile-user--group-row h4 {
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}

.profile-user--group-row h4>i {
  font-size: 12px;
  font-weight: normal;
}

.profile-user--group-col h4 {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.profile-user--group-col>span>div h4 {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: capitalize;
}

.profile-user--exp-content div {
  margin-right: 15px;
}

.profile-user--exp-content h4 {
  font-size: 15px;
  margin-bottom: 15px;
}

.profile-user--exp-content p {
  margin-right: 20px;
}

.profile-user--group-col h5 {
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

#profile-user--others p {
  font-size: 15px;
  margin-bottom: 5px;
}

#profile-user--others .fa-heart, #profile-user--others .fa-star {
  font-size: 30px;
  margin-bottom: 10px;
  color: #0B2BB1;
}

.profile-user #profile-user--main .fa-pen {
  color: #0B2BB1;
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.profile-user #profile-user--main .fa-pen:hover {
  color: #146be2;
}

@media (max-width: 960px) {
  /* sidebar user profile */
  .profile-user #profile-user--sidebar .profile-user--progression>img {
    display: none;
  }
  .profile-user #profile-user--sidebar .profile-user--progression-item {
    margin-bottom: 5px;
    border-bottom: 1px solid #eaeaea;
  }
  /* head content for user profile */
  .profile-user #profile-user--main #profile-user--pp .profile-user--image img {
    width: 100%;
    height: 100%;
  }
  .profile-user #profile-user--main #profile-user--pp {
    flex-direction: column;
  }
  .profile-user #profile-user--main #profile-user--pp img {
    width: 100%;
    height: 100%;
  }
  .profile-user #profile-user--main #profile-user--pp #profile-user--informations {
    padding: 20px;
  }
  #profile-user--exp .profile-user--exp-add-hover {
    border: none !important;
    background: none !important;
  }
  #profile-user--exp .profile-user--exp-add {
    border: none !important;
  }
  #profile-user--exp .profile-user--exp-add>i {
    padding: 5px !important;
  }
  #profile-user--exp .profile-user--exp-add-hover>i {
    padding: 5px !important;
    background-color: #1206A0;
  }
  #profile-user--exp .profile-user--exp-add-hover {
    background-color: #1206A0;
  }
  #profile-user--exp .profile-user--exp-add>span {
    display: none;
  }
  #profile-user--exp .profile-user--exp-add-hover>span {
    display: none;
  }
  #profile-user--scorecard div, #profile-user--sskills div, #profile-user--others div {
    flex-direction: column;
  }
  #profile-user--scorecard .profile-user--group-row>span, #profile-user--others .profile-user--group-row>span {
    width: 100%;
  }
  .profile-user--group-row>span {
    min-height: 70px;
    width: 100%;
    background-color: white;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    padding: 20px;
    margin-bottom: 5px;
    position: relative;
  }
  #profile-user--exp .profile-user--tag {
    position: relative;
    top: 0;
    right: 0;
  }
  #profile-user--others div {
    flex-direction: column;
    width: 100%;
  }
  #profile-user--scorecard .profile-user--group-row>span:nth-last-child(1) div, #profile-user--sskills .profile-user--group-row>span div {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 690px) {
  /* navbar for user profile */
  .navbar-user .navbar-user--link>span {
    display: none;
  }
  .navbar-user .navbar-user--link>div>span {
    display: none;
  }
  .navbar-user #navbar-user--online-link {
    bottom: 12px;
  }
  .navbar-user .navbar-user--right-link .navbar-user--link {
    margin-left: 15px;
  }
  /* profile sidebar */
  .profile-user #profile-user--sidebar {
    display: none;
  }
  /* head content for user profile */
  .profile-user #profile-user--main #profile-user--pp .profile-user--image img {
    width: 100%;
    height: 100%;
  }
  .profile-user #profile-user--main #profile-user--pp {
    flex-direction: column;
  }
  .profile-user #profile-user--main #profile-user--pp img {
    width: 100%;
    height: 100%;
  }
  .profile-user #profile-user--main #profile-user--pp #profile-user--informations {
    padding: 20px;
  }
  #profile-user--exp .profile-user--exp-add-hover {
    border: none !important;
    background: none !important;
  }
  #profile-user--exp .profile-user--exp-add {
    border: none !important;
  }
  #profile-user--exp .profile-user--exp-add>i {
    padding: 5px !important;
  }
  #profile-user--exp .profile-user--exp-add-hover>i {
    padding: 5px !important;
    background-color: #1206A0;
  }
  #profile-user--exp .profile-user--exp-add-hover {
    background-color: #1206A0;
  }
  #profile-user--exp .profile-user--exp-add>span {
    display: none;
  }
  #profile-user--exp .profile-user--exp-add-hover>span {
    display: none;
  }
  #profile-user--exp .profile-user--exp-add {
    border: none !important;
  }
  #profile-user--exp .profile-user--exp-add:hover {
    background: none !important;
  }
  #profile-user--exp .profile-user--exp-add>i {
    padding: 5px !important;
  }
  #profile-user--exp .profile-user--exp-add>span {
    display: none;
  }
  #profile-user--scorecard div, #profile-user--sskills div, #profile-user--others div {
    flex-direction: column;
  }
  #profile-user--scorecard .profile-user--group-row>span, #profile-user--others .profile-user--group-row>span {
    width: 100%;
  }
  #profile-user--scorecard .profile-user--group-row>span:nth-last-child(1) div, #profile-user--sskills .profile-user--group-row>span div {
    display: flex;
    flex-direction: row;
  }
  .profile-user--group-row>span {
    min-height: 70px;
    width: 100%;
    background-color: white;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    padding: 20px;
    margin-bottom: 5px;
    position: relative;
  }
  #profile-user--others>span {
    min-height: 70px;
    width: 100%;
    background-color: white;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 5px;
    text-align: center;
  }
  .profile-user #profile-user--main {
    width: 100%;
    margin: 0;
  }
  #profile-user--exp .profile-user--tag {
    position: relative;
    top: 0;
    right: 0;
  }
}

.profile-user--progression {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profile-user--reco {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
}

#profile-user--reco .profile-user--reco-slide {
  margin: 0px 30px 20px 30px;
  display: flex;
  flex-direction: column !important;
}

#profile-user--reco .profile-user--reco-slide p:first-child {
  margin-bottom: 30px;
}

#profile-user--exp .profile-user--exp-add-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

#profile-user--exp .profile-user--exp-add-container h2 {
  margin-bottom: 0;
}

#profile-user--exp .profile-user--exp-add:hover, #profile-user--exp .profile-user--exp-add>span:hover, #profile-user--exp .profile-user--exp-add>i:hover {
  background-color: #1206A0;
  color: white;
}

#profile-user--exp .profile-user--exp-add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #1206A0;
  border-radius: 25px;
  padding: 2px 7px 2px 7px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#profile-user--exp .profile-user--exp-add-hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  background-color: #1206A0;
  border-radius: 25px;
  padding: 2px 7px 2px 7px;
  cursor: pointer;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#profile-user--exp .profile-user--exp-add-hover:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

#profile-user--exp .profile-user--exp-add-hover>span {
  font-weight: bold;
  color: white;
}

#profile-user--exp .profile-user--exp-add-hover .fa-plus {
  border: 1px solid white;
  color: white;
  padding: 4px;
  margin-right: 8px;
  border-radius: 25px;
  font-size: 12px;
}

#profile-user--exp .profile-user--exp-add>span {
  font-weight: bold;
  color: #1206A0;
}

#profile-user--exp .profile-user--exp-add .fa-plus {
  border: 1px solid #1206A0;
  color: #1206A0;
  padding: 4px;
  margin-right: 8px;
  border-radius: 25px;
  font-size: 12px;
}

.profile-user--title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.profile-user--title i {
  font-size: 15px;
  font-weight: normal;
}

.profile-user--group-row {
  justify-content: space-between;
}

/* #profile-user--pp:hover, #profile-user--pskills span:hover, #profile-user--exp span:hover, #profile-user--formations-group:hover {
  transform: translateY(7px);
  box-shadow: 4px 4px 20px rgba(0.8, 0.8, 0.8, 1.0);
  cursor: pointer;
} */

div.profile-popup--title.modal-header {
  align-items: center;
  display: flex;
  border-bottom: 1px solid #707070 !important;
}

.profile-popup--title h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 0 20px;
}

.profile-popup--container {
  text-align: center;
  padding: 30px 30px 5px 30px;
}

.profile-popup--bio textarea::placeholder {
  font-size: 15px;
}

.profile-popup--bio textarea {
  width: 90%;
  min-height: 200px;
  border-radius: 25px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 20px 15px;
  outline: none;
}

.profile-popup--bio textarea:focus {
  border: 1px solid #146be2;
}

.profile-popup--bio .profile-popup--bio-text {
  position: relative;
  margin-bottom: 30px;
}

.profile-popup--bio .profile-popup--text-length {
  font-style: italic;
  font-size: 12px;
  color: #808080;
  position: absolute;
  bottom: 10px;
  right: 50px;
}

.profile-popup--bio button {
  border: none;
  align-items: center;
  border-radius: 25px;
  background: transparent linear-gradient(0deg, #0B2BB1 0%, #1206A0 100%) 0% 0% no-repeat padding-box;
  color: white;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
  padding: 5px 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.profile-popup--bio button:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.profile-popup--languages p, .profile-popup--languages>div {
  text-align: left;
}

.profile-popup--languages-group h3 {
  font-size: 15px;
  font-weight: bold;
  margin-right: 30px;
  margin-top: 10px;
  width: 180px;
}

.profile-popup--languages-group h3>i {
  font-style: italic;
  font-weight: normal;
}

.profile-popup--languages-group {
  display: flex;
  flex-direction: row;
}

.profile-popup--languages-group .profile-popup--languages-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-popup--languages-group .profile-popup--languages-list>div {
  margin-bottom: 20px;
}

.profile-popup--languages-group .profile-popup--languages-list button {
  background: transparent linear-gradient(0deg, #0B2BB1 0%, #1206A0 100%) 0% 0% no-repeat padding-box;
  border: none;
  color: white;
  border-radius: 25px;
  padding: 2px 7px 2px 7px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.profile-popup--languages-group .profile-popup--languages-list button:hover {
  background: #146be2;
}

.profile-popup--languages-list .profile-popup--languages-list-add:hover, .profile-popup--languages-list .profile-popup--languages-list-add>span:hover, .profile-popup--languages-list .profile-popup--languages-list-add>i:hover {
  background-color: #1206A0;
  color: white;
}

.profile-popup--languages-list .profile-popup--languages-list-add {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #1206A0;
  border-radius: 25px;
  padding: 2px 7px 2px 7px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 60%;
}

.profile-popup--languages-list .profile-popup--languages-list-add-hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid white;
  background-color: #1206A0;
  border-radius: 25px;
  padding: 2px 7px 2px 7px;
  cursor: pointer;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 60%;
}

.profile-popup--languages-list .profile-popup--languages-list-add-hover:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.profile-popup--languages-list .profile-popup--languages-list-add-hover>span {
  font-weight: bold;
  color: white;
}

.profile-popup--languages-list .profile-popup--languages-list-add-hover .fa-plus {
  border: 1px solid white;
  color: white;
  padding: 4px;
  margin-right: 8px;
  border-radius: 25px;
  font-size: 12px;
}

.profile-popup--languages-list .profile-popup--languages-list-add>span {
  font-weight: bold;
  color: #1206A0;
}

.profile-popup--languages-list .profile-popup--languages-list-add .fa-plus {
  border: 1px solid #1206A0;
  color: #1206A0;
  padding: 4px;
  margin-right: 8px;
  border-radius: 25px;
  font-size: 12px;
}

.profile-popup--languages-list .profile-popup--languages-list-add-blocked {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #808080;
  border-radius: 25px;
  padding: 2px 7px 2px 7px;
  cursor: not-allowed;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 60%;
}

.profile-popup--languages-list .profile-popup--languages-list-add-blocked>span {
  font-weight: bold;
  color: #808080;
}

.profile-popup--languages-list .profile-popup--languages-list-add-blocked .fa-plus {
  border: 1px solid #808080;
  color: #808080;
  padding: 4px;
  margin-right: 8px;
  border-radius: 25px;
  font-size: 12px;
}

.profile-popup--languages-list .profile-popup--languages-list-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.profile-popup--languages-list .profile-popup--languages-list-input input {
  border-radius: 10px;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  outline: 0;
  padding-left: 20px;
  height: 48px;
  border: 1px solid white;
  border: none;
  width: 50%;
  margin-right: 15px;
}

.profile-popup--languages-list .profile-popup--languages-list-input .profile-popup--languages-list-select {
  width: 30%;
}

.profile-popup--languages-list .profile-popup--languages-list-input i {
  margin-left: 20px;
  font-size: 20px;
  color: #808080;
  cursor: pointer;
}

.profile-popup--languages-list .profile-popup--languages-list-input .profile-popup--languages-list-select .css-yk16xz-control {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  height: 48px;
}

.profile-popup--languages-list .profile-popup--languages-list-input .profile-popup--languages-list-select .css-1pahdxg-control {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  height: 48px;
}

.profile-popup--languages-list .profile-popup--languages-list-input .profile-popup--languages-list-select .css-g1d714-ValueContainer input {
  height: 20px;
  background-color: white;
  box-shadow: none;
}

.profile-popup--languages>div:last-child {
  text-align: center;
}

.profile-popup--languages>div:last-child button {
  border: none;
  align-items: center;
  border-radius: 25px;
  background: transparent linear-gradient(0deg, #0B2BB1 0%, #1206A0 100%) 0% 0% no-repeat padding-box;
  color: white;
  font-weight: bold;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 15px;
  padding: 5px 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.profile-popup--languages>div:last-child button:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.profile-popup--languages>div:last-child button:hover {
  background: #146be2;
}

.profile-popup--head .profile-popup--head-group>button {
  border: none;
  align-items: center;
  border-radius: 25px;
  background: transparent linear-gradient(0deg, #0B2BB1 0%, #1206A0 100%) 0% 0% no-repeat padding-box;
  color: white;
  font-weight: bold;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 15px;
  padding: 5px 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.profile-popup--head .profile-popup--head-group>button:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.profile-popup--head .profile-popup--head-group>button:hover {
  background: #146be2;
}

.profile-popup--languages-list .profile-popup--languages-list-input .profile-popup--languages-list-select-error .css-yk16xz-control {
  border: 2px solid #D13E82;
}

.profile-popup--head .profile-popup--head-group h3 {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}

.profile-popup--head .profile-popup--head-group>div {
  padding: 0 0 30px 15px;
  border-bottom: 1px solid #707070;
  text-align: left;
}

.profile-popup--head-group .profile-popup--head-who>div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-popup--head-group .profile-popup--head-who>div input {
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px;
  outline: 0;
  padding-left: 20px;
  height: 48px;
  border: 1px solid white;
  border: none;
  margin-right: 15px;
  width: 300px;
}

.profile-popup--head-group .profile-popup--head-who .profile-popup--head-who-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-popup--head-group .profile-popup--head-who .profile-popup--head-who-title>span {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px;
  outline: 0;
}

.profile-popup--head-group .profile-popup--head-who .profile-popup--head-who-title>span input {
  border: 1px solid #808080;
  height: 25px;
  width: 38px;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  margin: 0 5px;
}

.profile-popup--head-group .profile-popup--head-who .profile-popup--head-who-title>span input:focus {
  border: 1px solid #146be2;
}

.profile-popup--head-group .profile-popup--head-who .profile-popup--head-who-last-name, .profile-popup--head-group .profile-popup--head-who .profile-popup--head-who-first-name, .profile-popup--head-group .profile-popup--head-who .profile-popup--head-who-title>input {
  width: 300px;
}

.profile-popup--head-group .profile-popup--head-lookingfor h4 {
  font-size: 15px;
  font-weight: bold;
}

.profile-popup--head-group .profile-popup--head-lookingfor i {
  font-weight: normal;
}

.profile-popup--head-group .profile-popup--head-lookingfor-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-popup--head-lookingfor-group .profile-popup--head-lookingfor-preavis>input:focus {
  border: 1px solid #146be2;
}

.profile-popup--head-lookingfor-group .profile-popup--head-lookingfor-preavis>input {
  border: 1px solid #808080;
  height: 25px;
  width: 45px;
  padding: 8px;
  text-align: center;
  margin: 0 5px;
  border-radius: 5px;
}

.profile-popup--head-lookingfor-group .profile-popup--head-lookingfor-disponibility input {
  height: 25px;
  width: 38px;
}

.profile-popup--head-lookingfor-group .profile-popup--head-lookingfor-loc {
  display: flex;
  flex-direction: column;
}

.profile-popup--head-group div.profile-popup--head-lookingfor, .profile-popup--head-group div.profile-popup--head-contract, .profile-popup--head-group div.profile-popup--head-salary {
  padding-top: 30px;
}

.profile-popup--head-group div.profile-popup--head-salary {
  border: none;
}

.profile-popup--head-lookingfor-preavis {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-popup--head-lookingfor-group .profile-popup--head-lookingfor-loc input.ap-input {
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px;
  outline: 0;
  padding-left: 20px;
  height: 48px;
  border: 1px solid white;
  border: none;
  margin-bottom: 15px;
}

.profile-popup--head-lookingfor-loc .checkbox-wrapper {
  margin-left: 10px;
}

.profile-popup--head-lookingfor-loc .profile-popup--head-lookingfor-preavis>input {
  border: 1px solid #808080;
  height: 25px;
  width: 45px;
  padding: 8px;
  text-align: center;
  margin: 0 5px;
  border-radius: 5px;
}

.profile-popup--head-group .profile-popup--head-contract>div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-popup--head-group .profile-popup--head-contract>div>div {
  flex-grow: 1;
  width: 33%;
  margin-bottom: 20px;
}

.profile-popup--head-group .profile-popup--head-salary>div h4 {
  margin: 0 20px 0 30px;
  padding-top: 2px;
  font-size: 15px;
  font-weight: bold;
}

.profile-popup--head-group .profile-popup--head-salary>div {
  margin-bottom: 30px;
}

.profile-popup--head-group .profile-popup--head-salary>div p {
  margin: 0 0 15px 0;
}

.profile-popup--head-group .profile-popup--head-salary .profile-popup--head-salary-list {
  display: flex;
  flex-direction: row;
}

.profile-popup--head-group .profile-popup--head-salary div.profile-popup--head-salary-list:last-child {
  align-items: center;
}

.profile-popup--head-group .profile-popup--head-salary .profile-popup--head-salary-list p input {
  border: none;
  height: 20px;
  width: 30px;
  text-align: left;
  background-color: transparent;
}

.profile-popup--head-group .profile-popup--head-salary .profile-popup--head-salary-list p>span {
  border: 1px solid #808080;
  padding: 2px 7px 2px 5px;
  text-align: left;
  border-radius: 5px;
  margin: 0 0 0 5px;
}

#profile--popup-employment-salary p>span>span {
  margin-left: -10px;
}

/* .profile-popup--head-group .profile-popup--head-salary .profile-popup--head-salary-list p span>span {
  margin-left: -3px;
} */

.profile-popup--head-group .profile-popup--head-salary .profile-popup--head-salary-list-select {
  width: 200px;
}

.profile-popup--head-group .profile-popup--head-salary .profile-popup--head-salary-list-select .css-yk16xz-control {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  height: 48px;
}

.profile-popup--head-group .profile-popup--head-salary .profile-popup--head-salary-list-select .css-1pahdxg-control {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  height: 48px;
}

.profile-popup--languages-list .profile-popup--languages-list-input .profile-popup--languages-list-select .css-g1d714-ValueContainer input {
  height: 20px;
  background-color: white;
  box-shadow: none;
}

.profile-popup--head-lookingfor .profile-popup--head-lookingfor-group>div:nth-child(2) h4 {
  margin-bottom: 30px;
}

.profile-popup--head-lookingfor .profile-popup--head-lookingfor-group>div:first-child h4, .profile-popup--head-lookingfor .profile-popup--head-lookingfor-group>div:last-child h4 {
  margin-bottom: 50px;
}

.profile-popup--head-lookingfor .profile-popup--head-lookingfor-group .checkbox-wrapper {
  margin-bottom: 20px;
}

.profile-popup--exp-group .profile-popup--exp-input {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #808080;
  padding-bottom: 50px;
  width: 100%;
  text-align: left;
}

.profile-popup--exp-group .profile-popup--exp-input .profile-popup--exp-job {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#profile-popup--exp-title-error, #profile-popup--exp-loc-error, #profile-popup--exp-enterprise-error {
  margin-top: -15px;
  color: #D13E82;
  padding-left: 10px;
}

#profile-popup--exp-date-error {
  margin-top: -25px;
  color: #D13E82;
  padding-left: 10px;
}

.profile-popup--exp-group .profile-popup--exp-input .profile-popup--exp-duration>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  outline: 0;
  height: 48px;
  border: 1px solid white;
  border: none;
  margin: 0 20px 30px 0;
  float: left;
  padding: 10px 10px 10px 20px;
}

.profile-popup--exp textarea::placeholder {
  font-size: 15px;
}

.profile-popup--exp textarea {
  width: 90%;
  min-height: 200px;
  border-radius: 25px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 20px 15px;
  outline: none;
}

.profile-popup--exp textarea:focus {
  border: 1px solid #146be2;
}

.profile-popup--exp .profile-popup--exp-group .profile-popup--exp-input>div>input {
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 10px 20px;
  outline: 0;
  height: 48px;
  border: 1px solid white;
  border: none;
  margin-bottom: 20px;
  text-align: left;
  width: 55%;
  margin-right: 20px;
}

.profile-popup--exp-input .profile-popup--exp-job>input:first-child {
  min-width: 55%;
  margin-right: 20px;
}

.profile-popup--exp-input .profile-popup--exp-job .profile-popup--exp-job-select {
  width: 40%;
}

.profile-popup--exp-input .profile-popup--exp-job .profile-popup--exp-job-select .css-yk16xz-control {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  height: 48px;
}

.profile-popup--exp-input .profile-popup--exp-job .profile-popup--exp-job-select .css-1pahdxg-control {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  height: 48px;
}

.profile-popup--exp-input .profile-popup--exp-job .profile-popup--exp-job-select .css-g1d714-ValueContainer input {
  height: 20px;
  background-color: white;
  box-shadow: none;
}

.profile-popup--exp-input .profile-popup--exp-job .profile-popup--exp-job-select .css-26l3qy-menu {
  top: 50px;
}



.profile-popup--exp-input .profile-popup--exp-job .profile-popup--exp-job-select-error {
  width: 40%;
}

.profile-popup--exp-input .profile-popup--exp-job .profile-popup--exp-job-select-error .css-yk16xz-control {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  height: 48px;
  border: 2px solid #D13E82;
}

.profile-popup--exp-input .profile-popup--exp-job .profile-popup--exp-job-select-error .css-1pahdxg-control {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  height: 48px;
}

.profile-popup--exp-input .profile-popup--exp-job .profile-popup--exp-job-select-error .css-g1d714-ValueContainer input {
  height: 20px;
  background-color: white;
  box-shadow: none;
}

.profile-popup--exp-input .profile-popup--exp-job .profile-popup--exp-job-select-error .css-26l3qy-menu {
  top: 50px;
}

.profile-popup--exp .profile-popup--exp-group .profile-popup--exp-duration p {
  border: 1px solid #808080;
  padding: 0 5px;
  border-radius: 5px;
  margin: 0 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.profile-popup--exp .profile-popup--exp-group .profile-popup--exp-duration input {
  border: 1px solid #808080;
  text-align: center;
  height: 24px;
  width: 120px;
  padding: 8px;
  border-radius: 5px;
  margin: 0 5px;
}

.profile-popup--exp .profile-popup--exp-group .profile-popup--exp-input p {
  margin-left: 5px;
}

.profile-popup--exp .profile-popup--exp-group .profile-popup--exp-input p>span {
  font-weight: bold;
}

.profile-popup--exp .profile-popup--exp-group .profile-popup--exp-input .checkbox-wrapper {
  margin: 0 0 20px 20px;
}

.profile-popup--exp .profile-popup--exp-group .profile-popup--exp-input .profile-popup--exp-jobEnd p {
  margin: 0 0 5px 50px;
  padding: 0;
}

.profile-popup--exp .profile-popup--exp-group .profile-popup--exp-input .profile-popup--exp-jobEnd>div {
  margin-bottom: 0;
}

.profile-popup--exp .profile-popup--exp-group .profile-popup--exp-input .profile-popup--exp-jobEnd>p:nth-child(2) {
  font-weight: bold;
}

.profile-popup--exp .profile-popup--exp-group .profile-popup--exp-description {
  margin: 30px 0;
}

.profile-popup--exp>div>button {
  border: none;
  align-items: center;
  border-radius: 25px;
  background: transparent linear-gradient(0deg, #0B2BB1 0%, #1206A0 100%) 0% 0% no-repeat padding-box;
  color: white;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
  padding: 5px 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.profile-popup--exp>div>button:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.profile-popup--exp>div>button:hover {
  background: #146be2;
}

.ap-input-icon svg {
  display: none;
}

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

/* RADIO and CHECKBOX */

.radio-wrapper, .checkbox-wrapper {
  position: relative;
  cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
  /*display:  none;*/
  position: absolute;
  top: 10px;
  left: 5px;
  height: 10px;
  -webkit-appearance: none;
}

.radio-label, .checkbox-label {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-label:before, .radio-label:after, .checkbox-label:before, .checkbox-label:after {
  pointer-events: none;
}

.radio-label:before, .radio-label:after {
  border-radius: 50%;
}

.radio-label:before, .checkbox-label:before {
  display: flex;
  content: ' ';
  height: 20px;
  width: 20px;
  border: solid 3px black;
  border-radius: 5px;
  background: #fff;
  margin-right: 10px;
}

.radio-label:after, .checkbox-label:after {
  position: absolute;
  top: 7px;
  left: 7px;
  display: flex;
  content: ' ';
  height: 12px;
  width: 12px;
  background: #000;
  transform: scale(0);
  transition: transform .3s ease;
}

.checkbox-label:after {
  height: -5px;
  width: 16px;
  left: 3px;
  top: 4px;
  border-bottom: solid 4px #000;
  border-left: solid 4px #000;
  background: none;
  transform: rotate(-45deg) scale(0);
  transition: transform .1s ease, opacity .1s ease;
  transform-origin: center center;
}

.radio-wrapper input[type="radio"]:checked+.radio-label:after {
  transform: scale(1);
}

.checkbox-wrapper input[type="checkbox"]:checked+.checkbox-label:after {
  opacity: 1;
  transform: rotate(-45deg) scale(.8);
}

.hidden {
  display: none;
}

.hidden.open {
  display: block;
}

#profile-user--scorecard>div>span:nth-child(2) p {
  margin-bottom: 5px;
}

.profile-popup--head-lookingfor-group .react-datepicker-wrapper .react-datepicker__input-container>input {
  border-radius: 5px;
  border: 1px solid #808080;
  width: 85px;
  padding: 5px;
  font-size: 14px;
}

.profile-popup--head-lookingfor-group .react-datepicker__day--keyboard-selected, .profile-popup--head-lookingfor-group .react-datepicker__month-text--keyboard-selected, .profile-popup--head-lookingfor-group .react-datepicker__quarter-text--keyboard-selected {
  background-color: #0B2BB1;
}

.profile-popup--head-lookingfor-group .react-datepicker-wrapper .react-datepicker__input-container ::placeholder {
  font-size: 12px;
}

.profile-popup--head-lookingfor-group .react-datepicker__day--selected, .profile-popup--head-lookingfor-group .react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected {
  background-color: #0B2BB1;
}

.profile-popup--exp .react-datepicker-wrapper .react-datepicker__input-container>input {
  border-radius: 5px;
  border: 1px solid #808080;
  width: 95px;
  padding: 5px;
  font-size: 14px;
}

.profile-popup--exp .react-datepicker__day--keyboard-selected, .profile-popup--exp .react-datepicker__month-text--keyboard-selected, .profile-popup--exp .react-datepicker__quarter-text--keyboard-selected {
  background-color: #0B2BB1;
}

.profile-popup--exp .react-datepicker-wrapper .react-datepicker__input-container ::placeholder {
  font-size: 12px;
}

.profile-popup--exp .react-datepicker__day--selected, .profile-popup--head-lookingfor-group .react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected {
  background-color: #0B2BB1;
}

.profile-popup--image .profile-popup--image-button button {
  border: none;
  align-items: center;
  border-radius: 25px;
  background: transparent linear-gradient(0deg, #0B2BB1 0%, #1206A0 100%) 0% 0% no-repeat padding-box;
  color: white;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
  padding: 5px 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  margin-left: 10px; 
}

.profile-popup--image .profile-popup--image-button button:hover {
  background: #146be2;
}

.profile-popup--image .profile-popup--image-button button:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.profile-popup--image .profile-popup--image-slider .rc-slider-track {
  background: transparent linear-gradient(0deg, #0B2BB1 0%, #1206A0 100%) 0% 0% no-repeat padding-box;
}

.profile-popup--image .profile-popup--image-slider .rc-slider-handle {
  background-color: #1206A0;
  border: none;
}

.profile-popup--image .profile-popup--image-slider .rc-slider-handle:active {
  border: none;
  box-shadow: none;
}

.profile-popup--image .profile-popup--image-slider {
  width: 30%;
}