.navbar {
  padding: 0px 2% 0px 2% !important;
  background-color: #1a1a21;
  border-bottom: 4px solid #222631;
}

.navbar .navbar--logo-holder h1 {
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar #account-link {
  border-radius: 25px;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  border: 2px solid #5D6165;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar .navbar--link.nav-link {
  align-items: center;
  align-self: center;
}

.navbar #account-link:hover {
  border: none;
  background: transparent linear-gradient(0deg, #146be2 0%, #146be2 100%) 0% 0% no-repeat padding-box;
}

.navbar #account-link span {
  color: white;
}

.navbar .navbar--link {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.navbar .navbar--link:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

/* font-awesome */

.navbar .navbar--link .fa-user-circle {
  font-size: 20px;
  color: white;
  vertical-align: -10%;
}

/* font-awesome */

.navbar .navbar--link .fa-bars {
  font-size: 20px;
  color: #5D6165;
}

/* bootstrap */

.navbar .navbar-light .navbar-toggler {
  background: transparent;
  border: none;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

/* bootstrap */

.navbar .navbar--link a.dropdown-toggle.nav-link {
  padding-left: 0 !important;
}

/* bootstrap */

.navbar .navbar--link .dropdown-menu {
  right: 7px;
  top: 55px;
  left: auto;
}

/* bootstrap */

.navbar .navbar--link a.dropdown-item:active {
  background: transparent linear-gradient(0deg, #146be2 0%, #146be2 100%) 0% 0% no-repeat padding-box;
  color: white;
}

/* bootstrap */

.navbar .navbar--link a.dropdown-toggle.nav-link::after {
  display: none;
}

/* bootstrap */

.navbar .navbar--link .navbar-light .navbar-toggler:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

@media (max-width: 640px) {
  .navbar #account-link>span {
    display: none;
  }
}